body{
    background-color: white;
    letter-spacing: 0.3em;
    font-size: 0.8em;
}
.container{
    max-width: 500px;
}
.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}
